body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.mainBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #000000;
}

.box {
    height: 420px;
    width: 450px;
}

#box-01 {
    background-color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textLogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 30px;
}

#box-01 .input-field {
    margin-bottom: 18px;
}

#box-01 .dimension {
    width: 320px;
    height: 30px;
    margin: 0px 30px 0px 10px;
    font-size: 1rem;
}

input::placeholder {
    padding-left: 8px;
}

#box-01 .tc-checkbox {
    margin-bottom: 20px;
    margin-left: 25px;
}

.tc-checkbox p {
    margin: 0px;
    display: inline-block;
    font-weight: 600;
}

button {
    padding: 10px 20px;
    background-color: #0000f5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#box-02 {
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./image/register-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 900px) {
    .mainBox {
        box-shadow: 1px 1px 3px 0px #000000;
    }

    .box {
        height: 420px;
        width: 350px;
    }

    /* #box-01 {
        background-color: #ffffff;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .textLogo {
        padding-bottom: 20px;
    }

    #box-01 .input-field {
        margin-bottom: 15px;
    }

    #box-01 .dimension {
        width: 230px;
        height: 25px;
        margin: 0px 20px 0px 10px;
        font-size: 1rem;
    }

    input::placeholder {
        padding-left: 3px;
    }

    #box-01 .tc-checkbox {
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .tc-checkbox p {
        font-size: 0.8rem;
    }

    button {
        padding: 10px 15px;
        font-size: 0.7rem;
    }

    /* #box-02 {
        border-radius: 0px 10px 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./image/register-page.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    } */

}

@media only screen and (max-width: 700px) {

    .mainBox {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        /* border-radius: 10px; */
        box-shadow: 0px 0px 15px 5px;
    }

    .box {
        height: 350px;
        width: 350px;
    }

    #box-01 {
        background-color: #ffffff;
        border-radius: 10px 10px 0px 0px;
    }

    /* .textLogo {
        padding-bottom: 20px;
    } */

    /* #box-01 .input-field {
        margin-bottom: 15px;
    } */

    #box-01 .dimension {
        /* width: 230px; */
        height: 20px;
        /* margin: 0px 20px 0px 10px; */
        font-size: 0.8rem;
    }

    /* input::placeholder {
        padding-left: 3px;
        font-size: 0.8rem;
    } */

    /* #box-01 .tc-checkbox {
        margin-bottom: 20px;
        margin-left: 0px;
    } */

    /* .tc-checkbox p {
        font-size: 0.8rem;
    } */

    button {
        padding: 8px 12px;
        font-size: 0.7rem;
    }

    #box-02 {
        border-radius: 0px 0px 10px 10px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./image/register-page.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; */
    }

}